<?xml version="1.0"?>
<config>
    <modules>
        <Kimit_Admin>
            <version>0.1.0</version>
        </Kimit_Admin>
    </modules>
    <global>
        <blocks>
            <kimitadmin>
                <class>Kimit_Admin_Block</class>
            </kimitadmin>
            <!--<adminhtml>
                <rewrite>
                    <dashboard_diagrams>Kimit_Admin_Block_Dashboard_Diagrams</dashboard_diagrams>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <models>
            <kimitadmin>
                <class>Kimit_Admin_Model</class>
            </kimitadmin>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <kimitadmin_injectDashboardTabs>
                        <type>singleton</type>
                        <class>kimitadmin/observer</class>
                        <method>injectDashboardTabs</method>
                    </kimitadmin_injectDashboardTabs>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
</config>